@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color:hotpink;
    font-family: 'Montserrat';
}

.logIn{
    position:absolute;
    margin:10px;
    padding:10px;
    display:flex;
    align-items:center;
    position:fixed;
    margin-top:150px;
    border: solid 5px #000000; 
    width:1000px;
    height:200px;
    border-radius:10px;
}


#claim{
    position:absolute;
    background-color:green;
    color:aqua;
    border-radius:69px;
    transition:0.69s;
}
#claim:hover{
    color:cadetblue;
    background-color:black;
}

#testing{
    position:absolute;
    margin-left:400px;
    background-color:blueviolet;
    color:bisque;
    height:50px;
    width:100px;
    text-align:center;
    line-height: 45px;
    border-radius:15px;
    transition:0.5s;
}

#testing:hover{
   
    color:rgb(0, 0, 0);
    background-color:rgb(255, 0, 0);
}